$font-header-lg: 1.8rem;
$font-header-sm: 1.5rem;
$fontFamilyHeader: 'Lato', sans-serif;
$fontFamilyBody: 'Times New Roman', Times, serif;
$primaryColor: #555;
$font-lg: 1.2rem;
$font-sm: 1rem;

#main-doc {
    padding: 0 1.2em;
    margin-top: 1em;
    width: 100%;
}

#main-doc section {
    margin-bottom: 1.5em;
}

section header {
    font-size: $font-header-sm;
    font-family: $fontFamilyHeader;
    margin-bottom: .5em;
}

#code {
    background-color: #33312e;
    color: hsl(240, 100%, 80%);
    padding: .5em;
    border-radius: 5px;
    margin: 1em 0;
    font-size: .9rem;
    font-family: $fontFamilyBody;
    overflow-x: scroll;
    line-height: 25px;
}

pre code {
    white-space: pre-line;
}

#main-doc p,
#main-doc li {
    color: $primaryColor;
    font-size: $font-sm;
    font-family: $fontFamilyBody;
    line-height: 28px;
}

@media screen and (min-width: 768px) {
    #main-doc {
        margin: 0 1em;
        margin-top: 1em;
        float: right;
        width: 72%;
    }

    #main-doc p,
    #main-doc li {
        font-size: $font-lg;
    }

    section header {
        font-size: $font-header-lg;
    }

    pre code {
        white-space: pre-wrap;
    }
}

@media screen and (min-width: 1024px) {
    #code {
        overflow-x: hidden;
    }
}